@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');
body {
    margin-top: 70px;
}
@media (min-width: 992px) {
    .position-fixed-top {
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
        z-index: 1000;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
}
body{
    font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.navbar-toggler {
    position: absolute;
    top: 0;
    left: 0;
}
.nav-item>a{
    color: #000;
}
.nav-item>a:hover{
    color: #32dbc6;
}
.nav-link.active {
    color: #32dbc6 !important;
    font-weight: bold;
}
span{
    font-weight: 800;
}
#resume, #about{
    background-color: #fff;
    padding-top: 70px;
}
#contact{
    background-color: #f8f9fa;
}
.contact-box{
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    margin-left: 15%;
    margin-right: 15%;
}
#home{
    background-image: url(images/bg-home.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 17%;
}
.home-para{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
}
h3{
    color: #000;;
}
h4{
    color: #000;
}
i{
    color: #000;
}
.btn{
    color: #fff;
    background-color: #32dbc6;
    border: 1px solid #32dbc6;
    border-radius: 28px;
}
.form-control{
    margin: 0.3em;
    padding: 0.3em;
    background-color: #fff;
    border: 1px solid #6c757d;
}
textarea{
    resize: none;
}
.card{
    background-color: #f8f9fa;
}
.card-body>h5{
    color:#000;
}
.card-body>p{
    color: #6c757d;
}
#resume{
    color: #000;
}
.bi-calendar3{
    color: #6c757d;
}
a>i{
    color: #32dbc6;
}
a>i:hover{
    color: #000;
}
#f1{
 text-decoration: none;
 color: #000;
}
#f1>i{
    color:#000;
}
#f1>i:hover{
    color: #000;
}
#f2>i{
    color:#000;
}
#f2>i:hover{
    color:#32dbc6;
}
div>p{
    color: #000;
    font-size: 14pt;
}
.downloadcv{
    background-color: #000;
    border: 1px solid #000;
}
.downloadcv:hover{
    color: #32dbc6;
}
#typing-text {
    overflow: hidden;
    white-space: nowrap;
    animation: typingAnimation 1ms steps(25, end) infinite;
}
img{
    border: none;
    /* box-shadow: rgba(0, 0, 255, 0.4) 0px 30px 90px; */
    box-shadow: rgba(50, 219, 198, 0.4) 0px 30px 90px;
    border-radius: 50%;
}
.col-md-6{
    margin-bottom: 15px;
}
@keyframes typingAnimation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
